'''
<h2>Agendar Brinquedos</h2>
<form method="post">
    Nome: <input name="nome"><br>
    Telefone: <input name="telefone"><br>
    Data: <input name="dia" size="2"> / <input name="mes" size="2"> / <input name="ano" size="4"><br>
    Horário: <input name="inicio" size="2">h às <input name="fim" size="2">h<br>
    <h4>Selecione Brinquedos:</h4>
    {% for b in brinquedos %}
     <input type="checkbox" name="brinquedo" value="{{b.id}}"> {{b.nome}} (R$ {{"%.2f"|format(b.preco)}})<br>
    {% endfor %}
    <button type="submit">Agendar</button>
</form>