<div class="card">
    <h3>Festas Agendadas</h3>
    {% for orcamento in agendados %}
    <div class="agendamento">
        <p><strong>Cliente:</strong> {{ orcamento.nome_cliente }}</p>
        <p><strong>Telefone:</strong> {{ orcamento.telefone }}</p>
        <p><strong>Endereço:</strong> {{ orcamento.endereco }}</p>
        <p><strong>Brinquedos:</strong>
            {% for b in orcamento.brinquedos %}
            <span class="tag">{{ b.nome }}</span>
            {% endfor %}
        </p>
        <p><strong>Valor Total:</strong> <span class="valor">R$ {{ "%.2f"|format(orcamento.valor_total) }}</span></p>
        <p><strong>Data:</strong> {{ orcamento.data_festa.strftime('%d/%m/%Y') }} - 
           <strong>Hora:</strong> {{ orcamento.hora_festa.strftime('%H:%M') }}</p>
    </div>
    <p><strong>Monitor:</strong> 
  {% if orcamento.monitor %}
    {{ orcamento.monitor.nome }} ({{ orcamento.monitor.telefone }})
  {% else %}
    <em>Sem monitor atribuído</em>
  {% endif %}
</p>

    {% else %}
    <p class="no-data">Nenhum agendamento feito.</p>
    {% endfor %}
</div>
