<div class="card">
    <h3>Cadastrar Brinquedo</h3>
    <form method="post" enctype="multipart/form-data" class="form">
        <label>Nome:
            <input type="text" name="nome" required>
        </label>
        <label>Tamanho:
            <input type="text" name="tamanho" required>
        </label>
        <label>Preço:
            <input type="number" step="0.01" name="preco" required>
        </label>
        <label>Faixa Etária:
            <input type="text" name="faixa_etaria" required>
        </label>
        <label>Imagem do Brinquedo:
            <input type="file" name="imagem" accept="image/*" required>
        </label>
        <button type="submit" class="btn">Adicionar</button>
    </form>
</div>
