<div class="painel-branco">
    <form method="post" action="/excluir_selecionados">
        <table class="tabela-catalogo">
            <thead>
                <tr>
                    <th>Selecionar</th>
                    <th>Brinquedo</th>
                    <th>Tamanho</th>
                    <th>Preço (R$)</th>
                    <th>Faixa Etária</th>
                    <th>Imagem</th>
                </tr>
            </thead>
        </table>
        <div class="scroll-tbody">
            <table class="tabela-catalogo">
                <tbody>
                    {% for brinquedo in brinquedos %}
                    <tr>
                        <td><input type="checkbox" name="selecionados" value="{{ brinquedo.id }}"></td>
                        <td>{{ brinquedo.nome }}</td>
                        <td>{{ brinquedo.tamanho }}</td>
                        <td>{{ brinquedo.preco }}</td>
                        <td>{{ brinquedo.faixa_etaria }}</td>
                        <td>
                            <img src="{{ url_for('static', filename='imagens/' ~ brinquedo.caminho_imagem) }}" alt="Foto do brinquedo">
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <button type="submit" onclick="return confirm('Deseja excluir os brinquedos selecionados?');">Excluir selecionados</button>
    </form>
</div>
